<!DOCTYPE html>
<html lang="en" ng-app="pokerApp">
<meta charset="UTF-8">

<head>
    <title>Video Poker</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <link href="main.css" rel="stylesheet">
    <script src="main.js"></script>
    <script src="deck.js"></script>
</head>

<body ng-controller="PokerController as vm" class="background-of-website" ng-keypress="vm.keyWasPressed($event)">
    <div class="row-of-items">
        <div ng-click="vm.buttonClicked()" class="pokerchip" ng-class="vm.cardsDealt ? 'green' : 'red'"></div>
    </div>
    <div class="row-of-items">
        <button ng-repeat="card in vm.theFlop track by $index"
                ng-click="card.value = !card.value" 
                ng-disabled="!vm.cardsDealt"
                class="card-shape"
                ng-class="{'card-back-image': card.value, 'non-disabled-card-cursor': vm.cardsDealt }">
                    <div class="card-number-{{(card.suit == '♥️' || card.suit == '♦️') ? 'red' : 'black'}}" 
                        ng-if="!card.value">{{card.key.letter + card.key.suit}}
                    </div>
        </button>
    </div>
    <div class="row-of-items">
        <div class="card-number-black">Score: {{vm.score}}</div>
    </div>
    <div class="row-of-items">
        <div class="card-number-black" ng-if="vm.lastScore!==''">+{{vm.lastScore}}</div>
    </div>
</body>